
.pokemon-logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 200px;
    flex: 0 1 200px;
    max-width: 75%;
    height: auto;
    animation: 7s fadeIn 1 alternate linear;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    margin-top: auto;
    background-image: transparent;
    margin-bottom: 0px;
    display: block
}

.list {
    text-align: center;
}

.pokemon-list {
    list-style: none;
    display: inline-block;
    text-align: center;
}

.button-class {
    background-color: #ffcb05;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgb(8, 137, 109);
    color: white;
    border: 2px solid #000000;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    color: #ffcb05;
    background-image: transparent;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #2a75bb;
    font-family: Permanent Marker;
}

.pokedex-title {
    display: flex;
    justify-content: center;
    max-width: 375px;
    margin-left: 10px;
    -webkit-animation: 3s enterFromLeft 1 alternate linear;
            animation: 3s enterFromLeft 1 alternate linear;
}

.pokedex {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    max-width: 380px;
    margin-top: 10px;
    padding: 0;
    background-image: linear-gradient(to right top, #051937, #002961, #00398e, #0049bc, #1258eb);
    color: white;
    -webkit-animation: 3s enterFromLeft 1 alternate linear;
            animation: 3s enterFromLeft 1 alternate linear;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.pokemon {
    display: grid;
    text-align: left;
    justify-content: center;
    max-width: 375px;
}




/*enter from left animation*/
@-webkit-keyframes enterFromLeft {
    60% {
        opacity: 0;
        -webkit-transform: translateX(-100vw);
                transform: translateX(-100vw);
    }
    80% {
        opacity: 1;
        -webkit-transform: translateX(-50vw);
                transform: translateX(-50vw);
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}
@keyframes enterFromLeft {
    60% {
        opacity: 0;
        -webkit-transform: translateX(-100vw);
                transform: translateX(-100vw);
    }
    80% {
        opacity: 1;
        -webkit-transform: translateX(-50vw);
                transform: translateX(-50vw);
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

/* fade in animation*/
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

/*Colors used:
  Primary: white
  Secondary: #2a75bb
  Alternate: #ffcb05
  Alternate 2: #ff000f
  */